<div class="main">
  <h1>Log In</h1>
<div class="content-login">
<%= form_tag login_path do %> 
    <div class="box-login">
   <p> <%= label_tag :email %></p>
   <p> <%= email_field_tag :email, params[:email],class: "form-control" %></p>
 
  
   <p> <%= label_tag :password %></p>
    <p><%= password_field_tag :password, nil, class: "form-control" %></p>
 
  <p><%= submit_tag "Log In", class: "btn-primary" %></p>
<% end %>
</div>
</div>
</div>