<% page_header "Your Conversations" %>
<div class="box-login">
<li><p><%= link_to 'Start conversation', new_message_path, class: '' %></p></li>



  <% if @box == 'trash' %>
    <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                   data: {confirm: 'Are you sure?'} %></p>
  <% end %>
  <div class="content">

   <li> <%= render partial: 'conversations/conversation', collection: @conversations %></li>


  <%= will_paginate %>

  </br>

  </br>
      <p><%= mailbox_section 'inbox', @box, class: 'btn btn-lg btn-primary'  %></p>
      <p><%= mailbox_section 'sent', @box, class: 'btn btn-lg btn-primary'  %></p>
      <p><%= mailbox_section 'trash', @box, class: 'btn btn-lg btn-primary'  %></p>
 
      </div>
      </div>
  <% if @box == 'trash' %>
    <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-lg btn-primary' , method: :delete,data: {confirm: 'Are you sure?'} %></p>
  <% end %>