

<body>
<% if notice %>
<% end %>
<%= notice %>

<%= form_tag(users_path, method: :get) do %>
    User <%= text_field_tag :name, params[:name] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>



<div class="main">

<% page_header "Users" %>

<%= will_paginate %>

<ul>
  <% @users.each do |user| %>
    <li>
      <strong><%= user.name %></strong>
      <% unless current_user == user %>
        <%= link_to 'Send a message', new_message_path(to: user.id), class: '' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
		<h1>Your Profile</h1>
		<p> <%= link_to "Go to Your Store!", products_path, class: "btn btn-default" %></p>

	 <div class="content">
		 <div class="profile">
			 <div class="profile-top">
				 <div class="pic-sec">

						 <%= image_tag @current_user.avatar.url, class:'pic' %>
					 <div class="pic_info">
						 <h2><%= current_user.name %> </h2>
						 <h3><%= current_user.email %></h3>
					 </div>
					 <div class="clear"></div>
				 </div>
				 <div class="media">
					 <div class="tweet">
						 <h4> <%= @user.products.count %></h4>
						 <h5>PRODUCTS.</h5>
                     </div>
                        
					 <div class="follow">
						 <h4><%= @user.leaders.count %></h4>
						 <h5>RATINGS AS A SELLER.</h5>
                     </div>
                        
                     <div class="follow2">
                        <div class="followers">
                          <h4><%= @user.followers.count  %></h4>
							<div class="followers-list">
							<h5> RATING AS A BUYER</h5>
								<% @user.followers.each do |fle| %>
									<div class="followers-list-content">
									<a href="/users/<%= fle.id %> "><%= fle.name %></a>
									</div>

									<% end %>
								</div>
								
							</div>
                        </div>
                     </div>
					 <div class="clear"></div>
				 </div>
			 </div>
			 <div class="profile-bottom">
				 <ul>
					 <li><a href="/">Todays Products</a></li> 
					 <li class="button"><a>Conversation<i>0</i></a></li>
						 <li class="dropdown">
								<ul class="icon-navigation">
									<li><a>Inbox<span><i> <%= current_user.mailbox.inbox.count %> </i> </sapn><% mailbox_section 'inbox', @box %></a></li>
									<li><a>Old Messages<span><i> <%= current_user.mailbox.trash.count %> </i> </sapn><% mailbox_section 'trash', @box%></a></li>
									<li><a>Sent Box<span><i> <%= current_user.mailbox.sentbox.count %> </i> </sapn><% mailbox_section 'sent', @box %></a></li>
								</ul>
						 </li>
					 </li>  
					 <li><a href="#">Favorites</a></li>  
					 <li><a href="/users/<%= current_user.id %>/edit ">Settings</a></li>  
				 </ul>
			 </div>
		 </div>
	 </div>
   			<div class="content">



<div class="settings">

</div>
</div>
</div>	


<%= render 'search' %>


  </div>


  </body>
  </html>