<div class="main">
  <h1>User</h1>


<div class="content-login">

<div class="box-longin">
<% if current_user %>
<div>
<%= image_tag current_user.avatar.url, class:"pic" %>
</div>
<% else %>
<%end%>
</div>
<div class="profile">
<h2><%= @user.name %></h2>
<h2><%= @user.email %></h2>
<h2><% @user.products.each do |product| %></h2>
 <%= product.title %></a>
  <%= product.description %>

  <% end %>
<h2><% @user.products.each do |product| %></h2>
 <%= product.title %></a>
  <%= product.description %>
</div>


<% if current_user != @user && !current_user.following?(@user) %>
<p><%= link_to "Follow", follow_user_path(@user.id), method: :post, class: "btn btn-default" %></p>
<p><%= link_to "Home", root_url, class: "btn btn-default" %></p>
<%else%>
<p><%= link_to "Home", root_url, class: "btn btn-default" %></p>

<% end %>

 <% end %>
<div>

</div>

</div>

