
<% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
<% end %>



  
<div class="outside-cart">
<ul>
<li><%= render(cart.line_items) %></li>
</ul>


<ul>
<li>Total</li>
<li><%= number_to_currency(cart.total_price) %></li></ul>

 <ul>

 <%= form_tag charges_path do %>

<%= link_to image_tag("https://s3-ap-southeast-2.amazonaws.com/thenewsocialmarketplace-development/blue-on-dark%403x.png"), user_stripe_connect_omniauth_authorize_path, class:"img-connect" %>
</ul>

<ul>
<li>  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<% @cart.line_items.each do |item| %><%= item.product.title %><% end %>"
            data-amount= "<%= (@cart.total_price)*100 %>"
            data-email= "<%= current_user.email %>"
            data-bitcoin="true"
            data-locale="auto">
    </script>  </li>
  
    </ul>
  
    <% end %>
  
    <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Empty your Cart, sure?' } %>  
 

    </div>


 

   

