
<% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
<% end %>



  
<div class="outside-cart">
<ul>
<li><%= render(cart.line_items) %></li>
</ul>


<ul>
<li>Total</li>
<li><%= number_to_currency(cart.total_price) %></li></ul>


<ul><%= form_tag charges_path do %>


<li>  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<% @cart.line_items.each do |item| %><%= item.product.title %><% end %>"
            data-amount= "<%= @amountt %>"
            data-email= "<%= current_user.email %>"
            data-bitcoin="true"
            data-locale="auto">
            
    </script> 
    </li>   
    <% end %>
    </ul>

 
  <ul>
    <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Empty your Cart, sure?' } %>  
 </ul>

    </div>


 

   

