


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="box-login">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

  <% if devise_mapping.rememberable? -%>
  <p> <%= f.label :remember_me, class:'remember' %></p>

     <%= f.check_box :remember_me, class:'remember' %>
     
     </div>

     <div>
      <p><%= f.submit "Log in.", class:"btn-primary" %></p>
      <% end %>
      <% end %>
      </div>
     
    </div>
<%= render "users/shared/links" %>







