
    <h2><%= "Details for Transaction #{@transaction.id}" %></h2>
    <p>
       User:
      <%= @transaction.user.email %></p>
    <p>
      Merchant:
      <%= @transaction.merchant.title %>
      <%= @transaction.merchant.description %>

    <p>
      Item:
      <%= @item.title %>

    <p>
      Total Cost:
      <%= number_to_currency(@transaction.total) %>

    <p>
     Stripe Payment Made?
      <%= @transaction.paid %>

    <p>
      Stripe Charge ID
      <%= @transaction.stripe_charge %>

      <p>
      <%= link_to 'Back', merchants_path, class: 'btn btn-info' %>