<div class="content-login">
<%= form_with(model: @product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="box-login">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>

    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, cols: 60, class:"form-control" %>
    
    <p><%= form.label :image_file %></p>
    <p><%= form.file_field :image_file, class: "form-control" %></p>

    <%= form.label :image_url %>
    <%= form.text_field :image_url, class:"form-control" %>

    <%= form.label :price %>
    <%= form.text_field :price, class:"form-control" %>
  
    <%= form.submit 'Add your product' , class:"btn-primary" %>
</div>
    <% end %>
</div>
