<div class="store">
<%= form_with(model: @product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div class="error_explanation">
      <h2>Something went wrong, you got  <%= pluralize(product.errors.count, "error.") %> please review the following fields erros:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
      <li> <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 </br>
<div class="store-tile">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>

    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, cols: 60, class:"form-control" %>
    
    <p><%= form.label :image_file %></p>
    <p><%= form.file_field :image_file, class: "form-control" %></p>

    <%= form.label :image_url %>
    <%= form.text_field :image_url, class:"form-control" %>

    <%= form.label :price %>
    <%= form.text_field :price, class:"form-control" %>
        </br>
</div>
<%= form.submit 'Add your product' , class:"btn-primary" %>

    <% end %>
</div>
