<div class="store">


<div class="store-tile">
<p>
Image_UPLOADED:
</br>

<%= image_tag(@product.image_file_url) %>
</p>

</p>
</br>

TITLE:
</p>
 <strong><%= @product.title %><strong>
</br>
<p>
</br>

Description:</p>
 

<p><%= @product.description %></p>
</br>
<p>
Image_URL:
</br>

</p>
</p><%= @product.image_url %></p>
</br>
<p>
Price:
 
</p> <%= @product.price %>
</div>
<%= link_to 'Edit', edit_product_path(@product),class:"btn-primary-store" %> 
<%= link_to 'Back', products_path,class:"btn-primary-store" %>
<%= link_to 'Destroy', user_products_destroy_path(@product), method: :destroy, class:"btn-primary-store", data: { confirm: 'Are you sure?' } %></div>

</div>