<!DOCTYPE html>
<html>
  <head>
    <title>Thes New Social MarketPlace</title>
    
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Forum|Gentium+Basic" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Skranji" rel="stylesheet">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <%= Gon::Base.render_data %>

    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    

    <link rel="icon" href="https://s3-ap-southeast-2.amazonaws.com/thenewsocialmarketplace-development/uploads/user/avatar/38/540222972.jpg">
  </head>

  <body>

        <div class="pic_info-nav">
       
                <ul>
                <% if user_signed_in? %>
                <% if @cart.line_items != nil %>
                <li><% @itemq = [] %><% @cart.line_items.each do |item| %> <% item.quantity %> <% @itemq << item.quantity  %>  <% end %> <%= @itemq.sum %></li>  
                  <% end %>                 

             <div class="cart-hide"><%= image_tag "http://s3-ap-southeast-2.amazonaws.com/thenewsocialmarketplace-development/shopping-cart-icon.png", class:"a"%>
                      <div class="cart-hide-content">
                   <%= render_if @cart && @cart.line_items.any?, @cart%>
                    </div>
                    </div>

              <li><%= current_user.name %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              <li><%= image_tag current_user.avatar.url, class:"pic-nav" %></li>


              <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <% end %>
               </ul>
            
        </div>

        </br>
   
     
       
      <div class="nav-bar">
              <% if user_signed_in? %>
              <ul>
              <li><%= link_to 'Marketplace', root_path, class:"word-nav" %></li>
              <li><%= link_to 'Store', user_products_path_url(current_user.id), class:"word-nav" %></li>
              <li><%= link_to 'Blog', posts_path, class:"word-nav" %></li>
              <li><%= link_to 'Profile', users_path, class:"word-nav" %></li>
              <li><%= link_to 'Messages', conversations_path, class:"word-nav" %></li>
                 
              
              </ul>
              <% else %>
             
              <p>Welcome to The New Social Marketplace</p>
              <% end %>              

             </div>
           </br></br></br>

      <main class='<%= controller.controller_name %>'>
            <%= yield %>



      </main>  
      <div class="nav-bar">
      <li><%= link_to 'Merchants', merchants_index_path, class:"word-nav" %> </li>
      <li><%= link_to 'ADMIN', admin_index_path, class:"word-nav" %> </li>
        
          </div>
    </body>
</html>
